In [25]:
def decorator(func):
    def wrapper():
        print('transac initiated')
        func()
        print('transaction complete')
    return wrapper
@decorator
def hi():
    print("excute all steps of transaction")
hi()

transac initiated
excute all steps of transaction
transaction complete

In [27]:
def decorator(func):
    def wrapper():
        print('transac initiated')
        func()
        print('transaction complete')
    return wrapper
@decorator

SyntaxError: incomplete input (1251747977.py, line 7)

In [29]:
add = lambda x,y : x+y
print(add(3,5))

8

In [39]:
n=input('enter a string')
rev= lambda n: n[::-1]
print(rev(n))

enter a string hello

olleh

In [41]:
#Map()
#it is function used to apply a specified function to each item in an iterables and return a new iterable
#contains the result

In [43]:
#want to double a list using map 
numbers=[1,2,3,4,5]
doubled_numbers= map(lambda x:x*2,numbers)
print(list(doubled_numbers))

[2, 4, 6, 8, 10]

In [61]:
# converting strings to uppercase
s = ['amann', 'python', 'java']
up = map(lambda i: i.upper(), s)  
print(list(up))

['AMANN', 'PYTHON', 'JAVA']

In [63]:
#sqrt using map and lambda
numbers=[9,16,25,36,49]

In [65]:
#combining first and last names:
first_names=['John','Emma','James']
last_names=['Doe','Smith','Brown']

In [67]:
#filter() is used to filter elements of an iterable(like list)
#it takes two argument 
# 1st: func that defines the condition for filtering
# 2nd: iterables

In [71]:
nums=[1,2,3,4,5,6]
even=list(filter(lambda n:n%2==0,nums))
print(even)

[2, 4, 6]

In [83]:
#marks = [70,80,90,60,65,50,55]
# <65
marks = [70,80,90,60,65,50,55]
new=list(filter(lambda n:n<65,nums))
l2= lambda n:n.append(new),new
print(l2)

(<function <lambda> at 0x000002271C52DEE0>, [1, 2, 3, 4, 5, 6])

In [85]:
#zip method  combined multiple iterables element wise but output will be in tuple
#take in two or more  as an argument iterables
#return an iterator of tuple

In [87]:
list1=[1,2,3]
list2=['a','b','c']
zipped= zip(list1,list2)
for item in zipped:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [89]:
list1=[1,2,3,4]
list2=['a','b','c']
zipped= zip(list1,list2)
for item in zipped:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [91]:
#enumerate()
#it is used to add a counter to a iterable
#return  it as an enumerateobj

In [95]:
mlist=['apple','banana','cherry']
for index,value in enumerate(mlist):
    print(index,value)

0 apple
1 banana
2 cherry