In [3]:
name='Jenny'
for i in name:
    print(i)

J
e
n
n
y

In [7]:
names= ['Jenny','Ram','Shyam']
for i in names:
    print(i)
    if i=='Jenny':
        print('Hey, its me')

Jenny
Hey, its me
Ram
Shyam

In [9]:
list1= [2,3,5,-2,10]
for i in list1:
    square=i **2
    print (square)

4
9
25
4
100

In [17]:
list1= [2,3,5,-2,10]
squares=[]
for i in list1:
    square= i ** 2
    squares.append(square)
    print (squares)

[4]
[4, 9]
[4, 9, 25]
[4, 9, 25, 4]
[4, 9, 25, 4, 100]

In [19]:
tuple1= (2,56,34,3,5,-1)
for i in tuple1:
    print(i)
else:
    print("Success")

2
56
34
3
5
-1
Success

In [21]:
tuple1= (2,56,34,3,5,-1)
for i in tuple1:
    print(i)
    if i==5:
        break
else:
    print("Success")

2
56
34
3
5

In [23]:
tuple1= (2,56,34,3,5,-1)
for i in tuple1:
    print(i)
    if i==5:
        break
else:
    print("Success")
print("out of for/else")

2
56
34
3
5
out of for/else

In [27]:
height=input("enter all heights separated by space:")
height_list=height.split()
print(height_list)
for i in height_list:
    height_list[i]=int(height_list[i])  
#height_list is a Python list. Lists are indexed using integers, not strings.
#for i in height_list: This loop iterates over the values of the height_list, not the indices.
#Since the loop iterates over the values (e.g., strings, numbers), i becomes a value from the list.
#When height_list[i] is attempted, Python tries to use i as an index, but i is likely a string or some other non-integer type, 
#causing the TypeError.

enter all heights separated by space: 1 2 3

['1', '2', '3']

TypeError: list indices must be integers or slices, not str