In [1]:
#define and func call in python
def demo_func():
    print('this is printed from func body')

In [3]:
demo_func()

this is printed from func body

In [5]:
#take some args into function
def sum_demo1(n1,n2):
    res= n1+n2
    print ('Addition is ', res)
    return

In [7]:
#call the fuction
print(sum_demo1(20,20))

Addition is  40
None

In [9]:
def sum_demo(n1,n2):
    res=n1+n2
    res1= n1-n2
    return res,res1

In [11]:
print(sum_demo(20,20))

(40, 0)

In [13]:
def sum_demo(n1,n2):
    res=n1+n2
    return res
sum_demo(20,60)

80

In [15]:
sum_demo(10,40)

50

In [17]:
x=sum_demo(10,40)
print(x)

50

In [19]:
#keyword based argument
def sum_demo(num1,num2=200):
    res = num1+num2
    return res

In [21]:
x=sum_demo(20)
print(x)

220

In [23]:
def emp_info(ename,eno,city):
    print("emp no is:",eno)
    print('Emp name is',ename)
    print('emp city is',city)

In [25]:
emp_info(102,city='mum',ename='Ram')

TypeError: emp_info() got multiple values for argument 'ename'

In [27]:
emp_info(ename='John',104,city='hyd')

SyntaxError: positional argument follows keyword argument (2491426901.py, line 1)

In [29]:
emp_info('John',eno=104,city='hyd')

emp no is: 104
Emp name is John
emp city is hyd

In [31]:
def summ(*nums):
    print('Addition is',sum(nums))

In [33]:
summ(10,20,30)

Addition is 60

In [35]:
summ(10,20,40,60)

Addition is 130

In [37]:
def summ(*nums):
    print(nums)
    print(type(nums))

In [39]:
summ(10,20,40)

(10, 20, 40)
<class 'tuple'>

In [41]:
def emp_info(**data):
    print(data)
    print(type(data))

In [43]:
emp_info(eno=10001,ename='smith',city='mum')

{'eno': 10001, 'ename': 'smith', 'city': 'mum'}
<class 'dict'>

In [47]:
emp_info(eno=10001,ename='smith',city='mum', new = 4)

{'eno': 10001, 'ename': 'smith', 'city': 'mum', 'new': 4}
<class 'dict'>

In [49]:
#will see the non-keyword and keyword arg together
def emp_info1(*ratings,**data):
    print(ratings)
    print(type(ratings))
    print()
    print(data)
    print(type(data))

In [51]:
emp_info1(4.5,4.7,4.7,eno=1001,ename='john',city='pune',dept='audit')

(4.5, 4.7, 4.7)
<class 'tuple'>

{'eno': 1001, 'ename': 'john', 'city': 'pune', 'dept': 'audit'}
<class 'dict'>