In [21]:
#1. insert 10,20,and 100 in the below list and print the sorted list
#l1=[1,24,36,50,60]
l1=[1,24,36,50,60]
l2=[10,20,100]
l3=l1+l2
l3.sort()
l3

[1, 10, 20, 24, 36, 50, 60, 100]

In [37]:
#2. merge below given tuples into a single list,also discard the duplicate elements and sort them in ascending order
# t1=(10,20,30,40,50,60,70) and t2=(50,60,70,80,90,100)
t1=(10,20,30,40,50,60,70)
t2=(50,60,70,80,90,100)
t3=t1+t2
t3
s1=set(t3)
s1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [9]:
#3 retrieve 5 from the below list
#l1=[1,2,3,4,[1,2,3[9,5]]]
l1=[1,2,3,4,[1,2,3,[9,5]]]
l1[4][3][1]

5

In [39]:
#4. Convert a tuple into list and print a list
t1=(10,20,30,40,50,60,70)
nl=list(t1)
nl

[10, 20, 30, 40, 50, 60, 70]

In [45]:
#5 create a new tuple by index-wise substraction of tuples
#sample input:
#t1=(10,20,30,40,50)
#t2=(1,2,3,4,5)
#sample output
#t3=(9,18,27,36,45)
t1=(10,20,30,40,50)
t2=(1,2,3,4,5)
l1=[]
for i in range(5):
    l1.append(t1[i]-t2[i])
l1=tuple(l1)    
print(l1)

(9, 18, 27, 36, 45)

In [69]:
#6 retrieve 77 from below dictionary
# d1={1:[10,20,{'A':11,'B':20,'C':77}]}
d1={1:[10,20,{'A':11,'B':20,'C':77}]}
d1[1][2]['C']

77

In [67]:
#7 consider below list and fetch [10,7,4,1] and prepare another list
l1= [1,2,3,4,5,6,7,8,9,10]
ls=[]
for i in range(1,11,3):
    ls.append(i)
print(sorted(ls, reverse =True))

[10, 7, 4, 1]

In [85]:
# 8. print the strings which has a letter 'a' or 'A' in it(without using loop)
# l1=['Amit','Baban','Dishi','Lily','John','Akshit','Priyanka']
l1 = ['Amit', 'Baban', 'Dishi', 'Lily', 'John', 'Akshit', 'Priyanka']
result = [name for name in l1 if 'a' in name.lower()]
print(result)

['Amit', 'Baban', 'Akshit', 'Priyanka']

In [87]:
#9 print the keys of below dictionary if corresponding value is 5000 or above
#d1={1:1000,2:2000,3:3000,4:4000,5:5000,6:6000,7:7000}
d1 = {1: 1000, 2: 2000, 3: 3000, 4: 4000, 5: 5000, 6: 6000, 7: 7000}
for k, v in d1.items():
    if v >= 5000:
        print(k)

5
6
7

In [ ]:
#10 accept the values from user and prepare a dictionary as shown below:
#{10:'IT',20:'Account',30:'consulting',40:'Audit',50'tax'}

In [89]:
#11.Accept a string from user and calculate the frequency of  character

In [91]:
#12 consider a list given below:
# l1=[100,1000,[10,20,30,[50,60],[70,80],15,25],(90,200,500),2000]
#retrieve 20

In [ ]:
#https://notepad.pw/jn7KQxdl75UDCnn29frK